In [52]:
import pandas as pd

In [53]:
dados = pd.read_csv("supermarket_sales.csv")

In [54]:
dados.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [55]:
dados.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [56]:
colunas_rename = {
    'Invoice ID': 'id_fatura',
    'Branch': 'filial',
    'City': 'cidade',
    'Customer type': 'tipo_cliente',
    'Gender': 'genero',
    'Product line': 'linha_produto',
    'Unit price': 'preco_unitario',
    'Quantity': 'quantidade',
    'Tax 5%': 'imposto_5%',
    'Total': 'total',
    'Date': 'data',
    'Time': 'hora',
    'Payment': 'forma_de_pagamento',
    'cogs': 'custo_das_mercadorias_vendidas',
    'gross margin percentage': 'percentual_de_margem_bruta',
    'gross income': 'rendimento_bruto',
    'Rating': 'avaliacao'
}

dados.rename(columns=colunas_rename, inplace=True)

In [57]:
dados['genero'].value_counts()

genero
Female    501
Male      499
Name: count, dtype: int64

In [58]:
gender_translation = {
    'Male': 'Masculino',
    'Female': 'Feminino'
}

dados['genero'] = dados['genero'].map(gender_translation)

In [59]:
dados['genero'].value_counts()

genero
Feminino     501
Masculino    499
Name: count, dtype: int64

In [60]:
dados['linha_produto'].value_counts()

linha_produto
Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: count, dtype: int64

In [61]:
linha_produto_translation = {
    'Fashion accessories': 'Acessórios de Moda',
    'Food and beverages': 'Alimentos e Bebidas',
    'Electronic accessories': 'Acessórios Eletrônicos',
    'Sports and travel': 'Esportes e Viagens',
    'Home and lifestyle': 'Casa e Estilo de Vida',
    'Health and beauty': 'Saúde e Beleza'
}

In [62]:
dados['linha_produto'] = dados['linha_produto'].map(linha_produto_translation)
print(dados['linha_produto'].value_counts())

linha_produto
Acessórios de Moda        178
Alimentos e Bebidas       174
Acessórios Eletrônicos    170
Esportes e Viagens        166
Casa e Estilo de Vida     160
Saúde e Beleza            152
Name: count, dtype: int64

In [63]:
dados['forma_de_pagamento'].value_counts()

forma_de_pagamento
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64

In [64]:
forma_pagamento_translation = {
    'Ewallet': 'Carteira Digital',
    'Cash': 'Dinheiro',
    'Credit card': 'Cartão de Crédito'
}
dados['forma_de_pagamento'] = dados['forma_de_pagamento'].map(forma_pagamento_translation)
print(dados['forma_de_pagamento'].value_counts())

forma_de_pagamento
Carteira Digital     345
Dinheiro             344
Cartão de Crédito    311
Name: count, dtype: int64

In [66]:
dados['tipo_cliente'].value_counts()

tipo_cliente
Member    501
Normal    499
Name: count, dtype: int64

In [67]:
tipo_cliente_translation = {
    'Member': 'Membro',
    'Normal': 'Normal'
}
dados['tipo_cliente'] = dados['tipo_cliente'].map(tipo_cliente_translation)
print(dados['tipo_cliente'].value_counts())

tipo_cliente
Membro    501
Normal    499
Name: count, dtype: int64

In [68]:
dados.head()

,id_fatura,filial,cidade,tipo_cliente,genero,linha_produto,preco_unitario,quantidade,imposto_5%,total,data,hora,forma_de_pagamento,custo_das_mercadorias_vendidas,percentual_de_margem_bruta,rendimento_bruto,avaliacao
0,750-67-8428,A,Yangon,Membro,Feminino,Saúde e Beleza,74.69,7,26.1415,548.9715,1/5/2019,13:08,Carteira Digital,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Feminino,Acessórios Eletrônicos,15.28,5,3.8200,80.2200,3/8/2019,10:29,Dinheiro,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Masculino,Casa e Estilo de Vida,46.33,7,16.2155,340.5255,3/3/2019,13:23,Cartão de Crédito,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Membro,Masculino,Saúde e Beleza,58.22,8,23.2880,489.0480,1/27/2019,20:33,Carteira Digital,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Masculino,Esportes e Viagens,86.31,7,30.2085,634.3785,2/8/2019,10:37,Carteira Digital,604.17,4.761905,30.2085,5.3

In [65]:
dados.columns

Index(['id_fatura', 'filial', 'cidade', 'tipo_cliente', 'genero',
       'linha_produto', 'preco_unitario', 'quantidade', 'imposto_5%', 'total',
       'data', 'hora', 'forma_de_pagamento', 'custo_das_mercadorias_vendidas',
       'percentual_de_margem_bruta', 'rendimento_bruto', 'avaliacao'],
      dtype='object')